@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
}

.holding-container{
  width: 100%;
  display: flex;
}

.text-money-tree {
  flex: 1;
  
}

.img-money-tree {
  flex: 1;
}

.button-container-div {
  weight: 100px;
  height: 100px;

  display: grid;
}

button {
  background-color: green;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 100px;
  outline: none;
  margin: auto;
}
button hover {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}

.container-grid {
  margin: 0;
   display: grid;
   justify-content: center;
   gap: 0.8em;
}
.container{
display:grid;
justify-content: center;
gap: 0.8em}

@media only screen and ( min-width: 38em) {
  .container{
 display:grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr));

 justify-content: center;
 gap: 0.8em
}

@media only screen and ( min-width: 38em) {
 .container-grid {
   margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8em;}
/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
